<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tic Tac Toe</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Tic Tac Toe</h1>
      <div class="board">
        {% for index in range(9) %}
        <a href="{{ url_for('play', cell=index) }}" class="cell"
          >{{ board[index] }}</a
        >
        {% endfor %}
      </div>
      {% if winner %}
      <p class="result">Player {{ winner }} wins!</p>
      {% elif draw %}
      <p class="result">It's a draw!</p>
      {% else %}
      <p class="current-player">Current Player: {{ current_player }}</p>
      {% endif %}
      <a href="{{ url_for('reset') }}" class="reset-button">Reset Game</a>
    </div>
  </body>
</html>
